
Laborator4/matricelab_1024.npy
Laborator4/matricelab_128.npy
Laborator4/matricelab_2048.npy
Laborator4/matricelab_256.npy
Laborator4/matricelab_4096.npy
Laborator4/matricelab_512.npy
Laborator4/matricelab_8192.npy
